extends layout

block content
  h1.pt-3= title
  
  div.container
    ul.list-group.mt-4
      each funcionario in funcionario_list
        li.list-group-item
          a(href=funcionario.url) #{funcionario.nome} 

      else
        li.list-group-item Sem funcionários