extends layout

    block content
    h1= title

        ul
            each funcionario in funcionario_list
                li
                    p funcionario.nome
            else
                li There is no authors
                    